@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

p {
    font-family: "Merriweather", sans-serif;
}

/* navigation styles */

li, a, button {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: purple;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 5px;
    border-style: solid;
    border-bottom-color: purple;
}

#logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

button {
    background-color: rgb(171, 92, 236);
    padding: 9px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: azure;
    margin-left: 40px;
}

button:hover {
    background-color: rgba(213, 28, 136, 0.748);
}

/* hero image */

.hero-section {
    overflow: hidden;
    background-color: rgba(170, 14, 105, 1);
    
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/hero-pilates.webp) no-repeat center 100%;
    background-size: cover;
}

#mission-statement {
    width: 350px;
    height: 120px;
    font-family: "Work Sans", sans-serif;
    font-size: 120%;
    padding: 30px;
    bottom: 100px;
    right: 150px;
    position: absolute;
    border: none;
    border-radius: 50px;
    color: purple;
    background-color: lavender;
    
}

/* What is Pilates section */

.what-is-pilates {
    background-color: purple;
    background-image: linear-gradient(to right, #c429a8, purple);
}

.what-is-pilates img {
    border: none;
    border-radius: 50px;
    margin-left: 50px;
}

.what-is-container {
    display: flex;
    align-items: center;
    padding: 50px 0;
}

/* .what-is-pilates > div {
    height: 50px;
    width: 600px;
    float: left;
} */

#what-is-text {
    font-size: 150%;
    color: azure;
    height: auto;
    width: 50%;
    margin-left: 50px;
    line-height: 45px;
    text-align: center;
}

/* benefits section */

.benefits h2 {
    text-align: center;
    font-size: 40px;
    padding: 40px 0;
}

#benefits-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center; 
    margin: 20px 0;
}

#benefits-container li {
    list-style: none;
    padding: 40px;
    margin-top: 15px;
    font-size: 30px;
}

#benefits-container img {
    border-radius: 50px;
}

#benefits-contact {
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

#benefits-contact button {
    font-size: inherit;
    padding: 10px;
    margin: 0;
}


/* Footer */

footer {
    background-color: rgb(213, 53, 146);
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

#links-container {
    padding: 10px 0;
}

#links-container a {
    color: azure;
    padding: 10px;
    align-self: center;
}

#social-container {
    color: azure;
    text-align: center;
}

#social-container i {
    color: azure;
    padding: 10px;
}

/* studio section */

.studio h2 {
    text-align: center;
    font-size: 40px;
    padding: 40px 0;
}

#studio-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;

}

#studio-text {
    width: 40%;
    font-size: 130%;
}

/* team section */

.team {
    text-align: center;
    padding: 40px 0;
}

.team h2 {
    text-align: center;
    font-size: 40px;
    padding: 40px 0;
    line-height: 45px;
}


#team-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

#team-container img {
    border-radius: 50px 50px 0 0;
    width: 100%;
}

.team-member {
    width: 20%;
    border-radius: 50px;
    background-color: lightcoral;
}

.info {
    padding: 10px 0;
}

.info p {
    font-size: 20px;
}

.info h4 {
    font-size: 30px;
}

/* services section */


.services h2 {
    text-align: center;
    font-size: 40px;
    padding: 40px 0;
    line-height: 45px;
}

.services h3 {
    font-size: 2rem;
    padding: 20px 0;
}

.services img {
    border-radius: 50px;
}

.services > p {
    text-align: center;
    font-size: 130%;
    padding: 0 0 50px 0;
}

#mat-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

#mat-text {
    width: 40%;
    font-size: 130%;
}

#reformer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    margin: 20px 0;
    text-align: right;
}

#reformer-text {
    width: 40%;
    font-size: 130%;
}

/* Pricing */

.pricing {
    text-align: center;
}

.pricing h2 {
    font-size: 40px;
    padding: 40px 0;
    line-height: 45px;
}

.pricing h3 {
    font-size: 1.7rem;
    padding: 20px 0;
}

.pricing table {
    margin: auto;
}

/* Timetable */

.times {
    text-align: center;
}

.times h2 {
    font-size: 40px;
    padding: 40px 0;
    line-height: 45px;
}

.times table {
    width: 100%;
}

/* global table styling */

table {
    font-size: 20px;
    padding: 30px;
}

th {
    font-weight: 700;
    background-color: mediumvioletred;
    color: white;
    padding: 0 10px;
}

td {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: rgb(202, 181, 195);
}